<div class="topnav">
    <div class="logo-wrap" routerLink="/">
        <i class="large material-icons">insert_chart</i>
        <span>MEDIAPP</span>
    </div>

    <app-searchbar *ngIf="showSearch" (searchMovieTitle)="searchMovieByTitle($event)"></app-searchbar>

    <div class="top-nav-right">

        <div class="trending-wrap">
            <div class="trending-item" (click)="showTrending('upcoming_movies')" [class.selected]="trendItemSelected==='upcoming_movies'">
                <span>{{ 'TOP_BAR.TRENDS.ITEM_1' | translate }}</span>
            </div>
            <div class="trending-item" (click)="showTrending('popular_movies')" [class.selected]="trendItemSelected==='popular_movies'">
                <span>{{ 'TOP_BAR.TRENDS.ITEM_2' | translate }}</span>
            </div>
        </div>
    
        <div class="topnav-settings-wrap">
            <i class="material-icons settings-icon" (click)="toggleSettings()">settings</i>
            <div class="dropdown-content" [class.selected]="dropSettings">
                <div class="settings-wrap" *ngIf="!showLanguages">
                    <div class="dropdown-item"><b>Ikkesh Ramanna</b></div>
                    <div class="dropdown-item" (click)="toggleLanguages()">{{ 'TOP_BAR.SETTINGS.LANGUAGES_ITEM' | translate }} <i class="fas fa-arrow-right" style="float: right;"></i></div>
                    <div class="dropdown-item" (click)="logout()">{{ 'TOP_BAR.SETTINGS.LOGOUT_ITEM' | translate }} </div>
                </div>

                <div class="languages-wrap" *ngIf="showLanguages">
                    <!-- <div class="dropdown-item" (click)="changeLanguage('en')">{{ 'TOP_BAR.SETTINGS.LANGUAGES.LANGUAGE_1' | translate }}</div>
                    <div class="dropdown-item" (click)="changeLanguage('fr')">{{ 'TOP_BAR.SETTINGS.LANGUAGES.LANGUAGE_2' | translate }}</div>
                    <div class="dropdown-item" (click)="changeLanguage('it')">{{ 'TOP_BAR.SETTINGS.LANGUAGES.LANGUAGE_3' | translate }}</div> -->
                    <div *ngFor="let langcode of translationLanguages; let i=index" class="dropdown-item" (click)="changeLanguage(langcode)">{{ 'TOP_BAR.SETTINGS.LANGUAGES.LANGUAGE_'+(i+1) | translate }}</div>
                    <div class="dropdown-item" (click)="toggleLanguages()"><i class="fas fa-arrow-left"></i><b style="float: right">{{ 'TOP_BAR.SETTINGS.BACK_ITEM' | translate }}</b></div>
                </div>
            </div>
        </div>


    </div>
</div>