<div class="topnav">
    <div class="logo-wrap">
        <i class="large material-icons">insert_chart</i>
        <span>MEDIAPP</span>
    </div>

    <app-searchbar *ngIf="showSearch" (searchMovieTitle)="searchMovieByTitle($event)"></app-searchbar>

    <div class="top-nav-right">

        <div class="trending-wrap">
            <div class="trending-item" (click)="showTrending('upcoming_movies')" [class.selected]="trendItemSelected==='upcoming_movies'">
                <span>Upcoming Movies</span>
            </div>
            <div class="trending-item" (click)="showTrending('popular_movies')" [class.selected]="trendItemSelected==='popular_movies'">
                <span>Popular Movies</span>
            </div>
        </div>
    
        <div class="topnav-settings-wrap" (click)="showSettings()">
            <i class="material-icons settings-icon">settings</i>
            <div class="dropdown-content" [class.selected]="dropSettings">
                <div class="dropdown-item">Ikkesh Ramanna</div>
                <div class="dropdown-item">Languages</div>
                <div class="dropdown-item" (click)="logout()">Log out</div>
            </div>
        </div>


    </div>
</div>