<div class="topnav">
    <div class="logo-wrap">
        <i class="large material-icons">insert_chart</i>
        <span>MEDIAPP</span>
    </div>

    <app-searchbar (searchMovieTitle)="searchMovieByTitle($event)"></app-searchbar>

    <div class="topnav-right" (click)="showSettings()">
        <i class="material-icons settings-icon">settings</i>
        <div class="dropdown-content" [class.selected]="dropSettings">
            <p>Ikkesh Ramanna</p>
            <p>Languages</p>
            <p>Log out</p>
        </div>
    </div>
</div>