.movie-details-page {
    background-color: #414141;
    min-height: 100%;
    
    .movie-details-page-body {
        display: flex;
        min-height: 96.5vh;

        .movie-details-page-content {
            padding: 16px;
            display: flex;

            .movie-poster-wrap {
                min-width: 300px;
                overflow: hidden;
                .movie-link {
                    cursor: pointer;
                    color: white;
                    text-align: center;
                    width: 100%;
                    background-color: #ff424f;
                    padding: 8px 4px 8px 4px;
                    margin-bottom: 6px;
                }
            }

            .movie-details-wrap {
                padding: 0px 8px 0px 12px;
                min-width: 400px;

                .movie-title {
                    color: #ff424f;
                }
                .movie-overview {
                    color: white;
                }
                .movie-details {
                    padding-top: 18px;
                    .details-wrap {
                        margin-top: 6px;
                        .details-header {
                            color: #ff424f;
                            margin-right: 6px;
                        }
                        .details-content {
                            color: white;
                        }
                    }
                }
                .rate-action {
                    background-color: darkgoldenrod;
                    width: 45px;
                    text-align: center;
                    padding: 6px;
                    border-radius: 16px;
                    margin-top: 30px;

                    &:hover {
                        cursor: pointer;
                    }
                }
                ///////////////////////////
                /* The Modal (background) */
                .modal {
                    display: none; /* Hidden by default */
                    position: fixed; /* Stay in place */
                    z-index: 1; /* Sit on top */
                    left: 0;
                    top: 0;
                    width: 100%; /* Full width */
                    height: 100%; /* Full height */
                    overflow: auto; /* Enable scroll if needed */
                    background-color: rgb(0,0,0); /* Fallback color */
                    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
                    &.selected {
                        display: block;
                    }

                    .modal-content-wrap {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;

                        .modal-content {
                            padding: 25px;
                            width: 50%;
                            min-width: 500px;
                            border-radius: 15px;
                            background-color: white;
                        }
                    }
                }
                //////////////////////////
            }
        }
    }
}
