<div class="movie-details-page">
    
    <div class="movie-details-page-body">
        <div class="movie-details-page-content">
            
            <div class="movie-poster-wrap">
                <img [src]="movieDetails?.get_posterUrl()"/>
                <div class="movie-homepage" (click)="openLink(movieDetails?.get_homepage())">{{ 'MOVIE_DETAILS.WEBSITE_LINK' | translate }}</div>
            </div>

            <div class="movie-details-wrap">
                <h2 class="movie-title">{{ movieDetails?.get_title() }}</h2>
                <p class="movie-overview">{{ movieDetails?.get_overview() }}</p>
                <div class="movie-details">
                    <div class="details-wrap"><span class="details-header">{{ 'MOVIE_DETAILS.ORIGINAL_TITLE' | translate }}:</span><span class="details-content">{{ movieDetails?.get_originalTitle() }}</span></div>
                    <div class="details-wrap"><span class="details-header">{{ 'MOVIE_DETAILS.GENRE' | translate }}:</span><span class="details-content">{{ movieDetails?.get_genreStr() }}</span></div>
                    <div class="details-wrap"><span class="details-header">{{ 'MOVIE_DETAILS.RATING' | translate }}:</span><span class="details-content">{{ movieDetails?.get_rating() }}  <!--<i>({{ movieDetails?.get_voteCount() }})</i>--></span></div>
                    <div class="details-wrap"><span class="details-header">{{ 'MOVIE_DETAILS.PRODUCTION_COMPANIES' | translate }}:</span><span class="details-content">{{ movieDetails?.get_productionCountriesStr() }}</span></div>
                    <div class="details-wrap"><span class="details-header">{{ 'MOVIE_DETAILS.PRODUCTION_COUNTRIES' | translate }}:</span><span class="details-content">{{ movieDetails?.get_productionCompaniesStr() }}</span></div>
                    <div class="details-wrap"><span class="details-header">{{ 'MOVIE_DETAILS.RELEASE_DATE' | translate }}:</span><span class="details-content">{{ movieDetails?.get_releaseDate() | date: 'd MMMM y' : '+0200': translate.getDefaultLang() }}</span></div>
                </div>

                <div class="rate-action" (click)="toggleRatingAction($event)">
                    <span>{{ 'MOVIE_DETAILS.RATE_ACTION' | translate }}</span>
                </div>
                <div class="modal" [class.selected]="showRatingAction" (click)="toggleRatingAction($event)">
                    <div class="modal-content-wrap">
                        <div class="modal-content" (click)="$event.stopPropagation()">
                            <app-movie-rating (cancel)="toggleRatingAction($event)" [movieId]="movieDetails?.get_id()"></app-movie-rating>
                        </div>
                    </div>
                </div>
                
            </div>


        </div>
    </div>

</div>