<div class="component-wrapper">
    <h3>{{ title }}</h3>
    <div class="movie-card-wrapper">
        <app-movie-card 
            *ngFor="let item of moviesFill" 
            [movieTitle]="item.title" 
            [movieRating]="item.rating"
            [movieGenre]="item.genre"
            [moviePicUrl]="item.picUrl"
            ></app-movie-card>

            <app-movie-card 
            *ngFor="let item of moviesFill" 
            [movieTitle]="item.title" 
            [movieRating]="item.rating"
            [movieGenre]="item.genre"
            [moviePicUrl]="item.picUrl"
            ></app-movie-card>
    </div>
</div>
