.content-header {
    width: 100%;
    // border-bottom: #414141 solid 1px;
    display: flex;
}

.content-body {

}

.content-footer {
    width: 100%;
    .action-btn {
        float: right;
        button {
            background-color: #ff424f;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            border-radius: 4px;
            &:hover {
                cursor: pointer;
            }
            &:focus {
                outline: none;
            }
        }
        .btn-submit {
            background-color: green;
            margin-right: 10px;
        }
    }
}