<div class="content-header">
    <h3>{{ 'MOVIE_RATING.TITLE' | translate }}</h3>
</div>
<div class="content-body">
    <ngx-stars class="stars"
        [maxStars]="10"
        [initialStars]="1"
        [size]="2"
        [readonly]="ratingSubmitted"
        (ratingOutput)="onRatingSet($event)"
    ></ngx-stars>
    <div class="display-selected-rating">
        <span>{{ ratingSelected }}</span>
    </div>
</div>
<div class="content-footer">
    <div class="error" *ngIf="showErrorMsg">
        <span>{{ 'MOVIE_RATING.ERROR_API' | translate }}</span>
    </div>
    <div class="error" *ngIf="showInvalidRatingMsg">
        <span>{{ 'MOVIE_RATING.ERROR_INPUT' | translate }}</span>
    </div>
    <div class="action-btn" *ngIf="!showLoader">
        <button class="btn-submit" (click)=submit()>{{ 'MOVIE_RATING.SUBMIT_BTN_LABEL' | translate }}</button>
        <button (click)="cancel()">{{ 'MOVIE_RATING.CANCEL_BTN_LABEL' | translate }}</button>
    </div>
    <div class="spinner-wrap" *ngIf="showLoader">
        <div class="loader"></div>
    </div>
    <div class="submitted-wrap" *ngIf="ratingSubmitted">
        <span>{{ 'MOVIE_RATING.RATING_SUBMITTED_LABEL' | translate }}</span>
        <div class="check-logo"></div>
    </div>
</div>