.sidebar {
    background-color: black;
    height: 100%;
    width: 200px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

    .side-item {
        color: white;
        display: block;
        padding: 10px;
        &.selected {
               background-color: grey;
               color: red;
        }
    }
    .side-item:hover{
        cursor: pointer;
    }

  }